.post-card {
    .post-delete-button {
        visibility: hidden;
        margin-top: -5px;
        margin-right: -5px;
    }

    &:hover {
        .post-delete-button {
            visibility: visible;
        }
    }

    .toolbar>button {
        background: transparent;
        border: none;
        font-size: 18px;
        color: #757575;

        &:hover,
        &:focus-visible {
            cursor: pointer;
            color: #212121;
        }

        &:focus,
        &:focus-visible {
            outline: none;
        }
    }
}