.post-card {
    padding: 0.9rem;

    .post-delete-button {
        visibility: hidden;
        margin-top: -5px;
        margin-right: -5px;
    }

    &:hover {
        .post-delete-button {
            visibility: visible;
        }
    }

    .toolbar {
        margin-top: -10px;
        margin-right: -10px;

        &>button {
            background: transparent;
            border: none;
            font-size: 18px;
            color: #757575;

            &:hover,
            &:focus-visible {
                cursor: pointer;
                color: #212121;
            }

            &:focus,
            &:focus-visible {
                outline: none;
            }
        }
    }

    .post-time {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-right: -10px;
        margin-bottom: -10px;
        color: #78909c;
    }
}