form.post-input-form {
    margin-bottom: 0.5rem;

    input.post-input-title,
    textarea.post-input-content {
        border: none;
        font-family: "Roboto", sans-serif;

        &:focus-visible {
            outline: none;
        }
    }

    input.post-input-title {
        font-size: 1.15rem;
        padding-bottom: 0.25rem;
    }

    textarea.post-input-content {
        resize: none;
        max-height: 116px;
        height: 36px;
    }

    button {
        &[type="submit"] {
            color: #2196f3;

            &:hover,
            &:focus-visible {
                background: #bbdefb;
            }
        }

        &.cancel {
            color: #f44336;

            &:hover,
            &:focus-visible {
                background: #ffcdd2;
            }
        }

        font-family: "Roboto", sans-serif;
        align-self: start;
        font-weight: bold;
        font-size: 0.9rem;
        padding: 0.5rem 1.3rem;
        background: transparent;
        border: none;
        border-radius: 3px;
        transition: 0.25s background, color;

        &:hover {
            cursor: pointer;
        }

        &:focus-visible {
            outline: none;
        }
    }
}