form.post-input-form {
    margin-bottom: 0.5rem;

    input.post-input-title,
    textarea.post-input-content {
        border: none;
        font-family: "Roboto", sans-serif;

        &:focus-visible {
            outline: none;
        }
    }

    input.post-input-title {
        font-size: 1.15rem;
        padding-bottom: 0.25rem;
    }

    textarea.post-input-content {
        resize: none;
        max-height: 116px;
        height: 36px;
    }
}